# Data Types
* Integer = 3
* Float = 3.34
* String = John
* Boolean = True/False
* complex = 2+3j

In [83]:
integer = 1983
Float = 1983.10
String = "Hasinur"
Boolean = (String == "Hasinur", True)
complex = "Date of Birth", 10, "October"

# How to use print()

In [84]:
Name = input("Enter your name")
print("welcome", Name)

welcome bjhb

# Keywords

In [85]:
import keyword

In [86]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [87]:
keyword.iskeyword("while")

True

# String Formatting
* .format()
* f-String
*

In [88]:
## String
name = input("Enter your name: ")

## Integer
age = int(input("Age: "))

## float
weight = float(input("Weight: "))

## Complex
NationalID = complex(input("Enter your National ID: "))

## Boolean
married = bool(input("Are You Married? True/False"))

print("Welcome ", name, "your age is ", age, "and your weight is ", weight, "your national ID is ", "how are you?")
print("your account created succesfully! ")

TypeError: 'tuple' object is not callable

# Types Of Operators
* Arithmetic [+, -, *, /, %, **, //]
* Conditional Operators [==, !=, <, >, <=, >=]
* Logical [and, or, not]
* Bitwise Operators [&, |, ~, ^, <<, >>]
* Assignment Operators [=, +=, -=, *=, /=, **=, %=, //=]
* Special Operators [is , is not, in]

# Conditional Operatop

In [ ]:
a = 13
b = 33
print(a>b)
print(a<b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

# Logical Operator

In [ ]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

# Expressions

# Conditional Statements
* if
* elif
* else

In [ ]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is grater than b")

# Bitwise Operator

* 7 =       0 1 1 1
* 4 =       0 1 0 0
* 7 and 4 = 0 1 0 0 = 4

* 7 =       0 1 1 1
* 4 =       0 1 0 0
* 7 or 4 =  0 1 1 1 = 7

* 7 =       0 1 1 1
* 4 =       0 1 0 0
* 7 Xor 4 = 0 0 1 1 = 3

* & = Bitwise AND = x & y
* | = Bitwise OR  = x | y
* ~ = Bitwise NOT = ~x
* ^ = Bitwise XOR = x ^ y
* >>  = Bitwise right shift = x>>
* << = Bitwise right shift = x<<

## << Shift Left
* x = 7; 00000111
* x=x<<1; 00001110
* x=x<<3; 01110000
* x=x<<2; 11000000

# While Loop

In [ ]:
i = 0
while i < 100:
    i = i+1
    print(i)

In [ ]:
## Odd number
i = 1
up = int(input("Enter upto you want to print: "))
while i < up:
    i = i+2
    print(i)

In [ ]:
## Even number
i = 0
up = int(input("Enter upto you want to print: "))
while i < up:
    i = i+2
    print(i)

# For Loop

In [ ]:
for a in range(1,6):
    print(a)

# Built-In Data structures:
* List
* Tuple
* Dictionary
* Set

## List

In [89]:
li = [1,2,3,4,5,6,7,8,9]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
li[:6]

[1, 2, 3, 4, 5, 6]

In [ ]:
li[2:-1:2]

In [ ]:
li[-9:-1]

In [91]:
li.append(10)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
li.append(2)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2]

In [93]:
li.insert(11,2)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 2]

In [94]:
li.insert(3,3.5)
li

[1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 2, 2]

In [95]:
li.insert(17,3)

In [ ]:
li

In [96]:
li.append([11,12,13,14,15])
li

[1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 2, 2, 3, [11, 12, 13, 14, 15]]

In [97]:
li[20] = 4
li

IndexError: list assignment index out of range

In [98]:
li[11:12] = 3,4
li

[1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 3, 4, 2, 3, [11, 12, 13, 14, 15]]

In [99]:
li[16:17] = 5,6
li

[1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 3, 4, 2, 3, [11, 12, 13, 14, 15], 5, 6]

In [100]:
li.remove(3.5)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, 4, 2, 3, [11, 12, 13, 14, 15], 5, 6]

In [101]:
li.pop()

6

In [102]:
li.count(2)

2

In [103]:
len(li)

16

In [104]:
for index in range(len(li)):
    if li[index] == 2:
        print(index)

1
12

In [105]:
li.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [106]:
li.reverse()
li

[5, [11, 12, 13, 14, 15], 10, 9, 8, 7, 6, 5, 4, 4, 3, 3, 3, 2, 2, 1]

# list Comprehension

In [1]:
list1 = [num for num in range(1,11)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Tuple

In [107]:
students = (3,4,5,6,7,8,9)
students

(3, 4, 5, 6, 7, 8, 9)

In [109]:
students[::-1]

(9, 8, 7, 6, 5, 4, 3)

# Set

In [112]:
set1 = set(students)
set1

{3, 4, 5, 6, 7, 8, 9}

# Dictionary

In [113]:
dict1 = {1:"Python", 2:"Java", 3:"C"}
dict1

{1: 'Python', 2: 'Java', 3: 'C'}